<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>О нас</h4>
                    <p class="text-body-secondary">Информация о нашем магазине и предлагаемых товарах.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4><a href="{% url 'catalog:contacts' %}">Контакты</a></h4>
                    {% if user.is_authenticated %}
                    <h4>
                    <form method="post" action="{% url 'users:logout' %}">
                      {% csrf_token %}
                      <button type="submit">Выйти</button>
                    </form>
                    {% else %}
                    </h4>
                    <h4>
                        <a href="{% url 'users:login' %}" class="navbar-brand d-flex align-items-center">
                            <strong>Вход</strong>
                        </a>
                    </h4>
                    <h4>
                        <a href="{% url 'users:register' %}" class="navbar-brand d-flex align-items-center">
                            <strong>Регистрация</strong>
                        </a>
                    </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'catalog:product_list' %}" class="navbar-brand d-flex align-items-center">
                <strong>Мой Магазин</strong>
            </a>
            <a href="{% url 'blog:post_list' %}" class="navbar-brand d-flex align-items-center">
                <strong>Блог</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>